


html {
  font-size: 1rem;
  font-family: 'Lora', serif;
  background-color: #1C1C1C;
}

body {
  padding:1rem 0;
  color: #fdfdfd;
}

a {
  text-decoration: underline;
  color: #fdfdfd;
}

a:hover {
  text-decoration: none;
  color: #fdfdfd;
}

main {
  display:grid;
  grid-template-columns: repeat(5, 2fr);
  grid-template-rows: repeat(4, min-content);
  grid-gap:1rem;
  margin: 0 auto;
  width: 90vw;
}

.intro-block {
  grid-column:1 / 5;
  grid-row:1 / 4;
}

.projects {
  grid-column:2 / 3;
}

.item {
  grid-column:1;
  border-top: 1px solid #ccc;
  padding: 1rem 0;
}

.definition {
  grid-column:2;
  border-top: 1px solid #ccc;
  padding: 1rem 0;
}

.vert-quote {
  grid-column:1 / 5;
  grid-row:3 / 4;
  font-size: 2rem;
  font-family: 'Lora', serif;
  line-height: .5;
  writing-mode: vertical-lr;
}

h1, h2, h3, h4, h5 {
  font-family: 'Inconsolata', monospace;
  margin-bottom:2rem;
  writing-mode: horizontal-tb;
}

h1 {
  font-size:2rem;
  font-weight:800;
}
h2 {
  font-size:1rem;
}
h3 {
  font-size:1rem;
  font-weight:300;

}
h4 {
  font-size:1rem;
}


li {
  font-size: 1.25rem;
  font-family: 'Lora', serif;
  line-height: 1.5;
  padding: .5rem 0;
}

p {
  font-size: 2rem;
  line-height: .25;
  font-family: 'Lora', serif;
}

img {
  display: block;
  margin: 0 auto;
}

figcaption {
  font-size: .875rem;
  font-family: 'Petrona', serif;
  padding-top: 1rem;
}
