


html {
  font-size: 1rem;
  font-family: 'Jura', sans-serif;
  background-color: #480108;
}

body {
  padding:5rem 0;
  color:#fefefe;
}

a {
  text-decoration: underline;
  color: #fefefe;
}

a:hover {
  text-decoration: none;
  color: #fefefe;
}

main {
  display:grid;
  grid-template-columns: 2fr 1fr ;
  grid-row: 2;
  grid-gap:2rem;
  justify-content: center;
  margin: 0 auto;
}

.intro-block {
  grid-column:1 / 2;
}

.statement {
  grid-column:1 / 2;
}

.projects {
  grid-column:2 / 3;
}

.item {
  grid-column:1;
  border-top: 1px solid #ccc;
  padding: 1rem 0;
}

.definition {
  grid-column:2;
  border-top: 1px solid #ccc;
  padding: 1rem 0;
}



h1, h2, h3, h4, h5 {
  font-family: 'Quicksand', sans-serif;
  margin-bottom:1rem;
}

h1 {
  font-size:3.375rem;
  font-weight:800;
}
h2 {
  font-size:2.25rem;
}
h3 {
  font-size:1.5rem;
  font-weight:300;

}
h4 {
  font-size:1rem;
}


li {
  font-size: 1.25rem;
  font-family: 'Quicksand', sans-serif;
  line-height: 1.5;
  padding: .5rem 0;
}

p {
  font-size: 1.125rem;
  line-height: 1.5;
  font-family: 'Quicksand', sans-serif;
}

.location {
  font-size: 1rem;
  font-family: 'Jura', sans-serif;
  text-transform: uppercase;
  line-height: 1.5;
}

img {
  display: block;
  margin: 0 auto;
}

figcaption {
  font-size: .875rem;
  font-family: 'Jura', sans-serif;
  padding-top: 1rem;
}
